.Photos {
    font-size: 1rem;
    width: 100%;
}

.PhotosHeader {
    display: flex;
    justify-content: center;
    font-size: 4vh;
    margin: 2vh;
}

.PhotoList {
    margin: 0 4vh;
    font-size: 2vh;
}

.DirectoryName {
    padding: 0.5vh 0;
}

.DirectoryLink {
    color: #369;
    text-decoration: underline;
    cursor: pointer;
}

.ThumbnailsHeader {
    display: flex;
    justify-content: space-between;
}

.ThumbnailsInfo {
    font-size: 3vh;
    margin: 0 3vh;
}

.ThumbnailsButtons {
    display: flex;
}

.ThumbnailsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vh;
    border: 1px solid #888;
    border-radius: 0.5vh;
    width: 4vh;
    height: 4vh;
    font-size: 3vh;
}

.Thumbnails {
    display: flex;
    flex-wrap: wrap;
}

.ThumbnailWrapper {
    position: relative;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0vh 0.4vh 1vh -0.2vh, rgba(0, 0, 0, 0.3) 0vh 0.2vh 0.6vh -0.2vh;
    margin: 2vh;
}

.Thumbnail {
    width: 100%;
    height: 100%;
    display: grid;
    filter: blur(5px);
}

.ThumbnailSpinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('spinner.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255,255,255,0.5);
}

.ThumbnailImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ThumbnailCheckbox {
    position: absolute;
    top: 1vh;
    right: 1vh;
    width: 2vh;
    height: 2vh;
    background: linear-gradient(to bottom right, #bbb, #fff 50%);
    border: 0.2vh solid #888;
    border-radius: 0.5vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}